<div class="data hide" id="resource-groupings-json"><%= JSON.dump(@groupings) %></div>
<div class="data hide" id="employee-json"><%= @employee.to_json %></div>
<div class="data hide" id="selected-resource-group"><%= session[:resource_group] || @groupings.keys.first %></div>

<div id="workspace" class="vertical-timeline">
</div>
