<div id="workspace" class="vertical-timeline"
     data-spinnerurl="<%= image_path "ajax-loader.gif" %>"
     data-ssourl="<%= java.lang.System.getProperty("harbinger.sso.url") rescue "" %>"
>
</div>

<%# React %>
<% if ENV["RAILS_ENV"] != "production" && ENV["HOT"] == "true" %>
  <script src="http://localhost:3000/assets/app.bundle.js"></script>
<% else %>
  <script src="<%= root_path %>assets/packs/vendors.bundle.js"></script>
  <script src="<%= root_path %>assets/packs/app.bundle.js"></script>
<% end %>
