<div class="notecard scaled" style="height: <%= exam_height(exam) %>px; max-height: <%= exam_height(exam) %>px; <%= top ? "top: #{exam_top(exam)}px" : "position: relative;" %>">
  <%= render partial: "main/inner_card", locals: {exam: exam} %>
</div>
