<div class="notecard" style="height: 200px; width: <%= exam_height(exam) %>px; max-width: <%= exam_height(exam) %>px; <%= left ? "left: #{exam_top(exam)}px" : '' %>">
  <div class="horizontal">
    <%= render partial: "main/inner_card", locals: {exam: exam} %>
  </div>
</div>
