<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <%= render partial: "hre_about.html.erb", locals: {
        app_name: APPLICATION_NAME,
        app_version: render(partial: "version"),
        build_date: File.mtime("app/views/main/_version.html.erb").strftime("%Y-%m-%d"),
        has_dark_theme: @has_dark_theme,
        copyright_year: render(partial: "copyright_year")
      } %>
    </div>
  </div>
</div>
