<div id="workspace" class="horizontal-timeline">

  <div id="queue">
    <h1 class="rotate">QUEUE</h1>
    <div class="scaled-queue">
      <% @resources[@resources.keys.first].each do |exam| %>
      <%= render partial: "main/horizontal_card", locals: {exam: exam, left: false} %>
      <% end %>
    </div>
  </div>


<div id="board">
  <table id="time-grid">
    <tbody>
      <div id="right-now"></div>
      <tr>
	<td></td>
	<td class="grid">
      	  <% (0..23).to_a.each do |h| %>
	  <div class="hour"><%= h >= 10 ? h : "0#{h}" %>:00</div>
	  <% end %>
	</td>
      </tr>

      <% @resources.keys.each do |r| %>
      <tr>
	<td class="heading"><h1 class="rotate"><%= r.name.blank? ? r.resource : r.name %></h1></td>
	<td class="grid">
	  <div class="markers">
	    <% (0..47).to_a.each do |i| %>
	    <div class="col-marker"></div>
	    <% end %>
	  </div>
	  <% @resources[r].each do |exam| %>
	  <%= render partial: "main/horizontal_card", locals: {exam: exam, left: true} %>
	  <% end %>
	</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>
