<% content_for(:javascript_includes, javascript_include_tag("pages/guide")) %>
<div class="data hide" id="resource-groupings-json"><%= JSON.dump(@groupings["IR 1"]) %></div>
<div id="workspace" class="vertical-timeline">
  <%= image_tag("ajax-loader.gif") %>
</div>

<script class="handlebars-template" id="t-calendar" type="text/x-handlebars-template">


  <div id="board-headings">
    <div id="white-spacer">
    </div>

    <table id="time-headings">
      <tbody>
	<tr class="heading">
	  <td></td>
	  {{#each resources}}
	  {{> resourceHeading}}
	  {{/each}}
	</tr>
      </tbody>
    </table>
  </div>


  <div id="board">

    <table id="vertical-time-headings">
      <tbody>
	<tr>
	  <td>
	    {{#each hours}}
	    {{> hour}}
	    {{/each}}
	  </td>
	</tr>
      </tbody>
    </table>

    <table id="time-grid">
      <tbody>
	<div id="right-now"></div>

	<tr>
	  {{#each resources}}
	  {{> resourceColumn resource=this hours=../hours}}
	  {{/each}}
	</tr>
      </tbody>
    </table>
  </div>

</script>

<script class="handlebars-template" id="t-resource-heading" type="text/x-handlebars-template">
  <td><h1>{{name}}</h1></td>
</script>

<script class="handlebars-template" id="t-hour" type="text/x-handlebars-template">
  <div class="hour">{{format_hour this}}</div>
</script>

<script class="handlebars-template" id="t-resource-column" type="text/x-handlebars-template">
  <td>
    <div class="markers">
      {{#each hours}}
      <div class="row-marker"></div>
      <div class="row-marker"></div>
      {{/each}}
    </div>
    {{#each (exams_from_resource this)}}
    {{> card this}}
    {{/each}}
  </td>
</script>

<script class="handlebars-template" id="t-card" type="text/x-handlebars-template">
  <div class="notecard scaled" style="height: {{exam_height this}}; max-height: {{exam_height this}}; top: {{exam_top this}};">
    <div class="left-tab" style="background-color: {{exam_color this}};">
    </div>

    <div class="right-tab">
      <div class="heading">
	<div class="patient-name">{{format_name this.patient_mrn.patient.name}}</div>
      </div>

      <div class="body">
	<div class="procedure">{{this.procedure.description}}</div>
      </div>

      <div class="footer">
	<div class="consent"><i class="fa fa-handshake-o"></i></div>
	<div class="paperwork"><i class="fa fa-file-text"></i></div>
      </div>
    </div>

    <div class="hide data" data-exam-id="{{this.id}}"></div>

  </div>
</script>
