<div id="workspace" class="vertical-timeline">


  <div id="board-headings">
    <div id="white-spacer">
    </div>

    <table id="time-headings">
      <tbody>
	<tr class="heading">
	  <td></td>
	  <% @resources.keys.each do |r| %>
	  <td><h1><%= r.name.blank? ? r.resource : r.name %></h1></td>
	  <% end %>
	</tr>
      </tbody>
    </table>
  </div>


  <div id="board">

    <table id="vertical-time-headings">
      <tbody>
	<tr>
	  <td>
	    <% (0..23).to_a.each do |h| %>
	    <div class="hour"><%= h >= 10 ? h : "0#{h}" %>:00</div>
	    <% end %>
	  </td>
	</tr>
      </tbody>
    </table>

    <table id="time-grid">
      <tbody>
	<div id="right-now"></div>

	<tr>
	  <% @resources.keys.each do |r| %>
	  <td>
	    <div class="markers">
	      <% (0..47).to_a.each do |i| %>
	      <div class="row-marker"></div>
	      <% end %>
	    </div>
	    <% @resources[r].each do |exam| %>
	    <%= render partial: "main/card", locals: {exam: exam, top: true} %>
	    <% end %>
	  </td>
	  <% end %>
	</tr>
      </tbody>
    </table>
  </div>

</div>
