defaults: &defaults
  docker:
      - image: ctoland/circleci-build-wf:latest

version: 2
jobs:
  test:
    <<: *defaults

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: yarn install
      - run:
          name: Run eslint
          command: yarn lint
      - run:
          name: Run jest tests
          command: TZ='America/New_York' yarn test
      - run:
          name: Run flow typechecks
          command: yarn flow

  build:
    <<: *defaults
    environment:
      - PATH: "/usr/local/rvm/gems/jruby-9.1.5.0/bin:/usr/local/rvm/gems/jruby-9.1.5.0@global/bin:/usr/local/rvm/rubies/jruby-9.1.5.0/bin:/usr/local/rvm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      - GEM_HOME: "/usr/local/rvm/gems/jruby-9.1.5.0"
      - GEM_PATH: "/usr/local/rvm/gems/jruby-9.1.5.0:/usr/local/rvm/gems/jruby-9.1.5.0@global"
      - CACHE_VERSION: "v1"


    steps:
      - checkout
      - run: git tag -l | xargs git tag -d && git fetch --tags
        #get the latest full tag. if just tagged, this will miss and the previous tag cache (next line) will catch
      - run: git describe --abbrev=0 --tags > LATEST_TAG.txt
        #get the previous full tag (the ^ gets us past the current full tag)
      - run: git describe --abbrev=0 --tags `git describe --abbrev=0 --tags`^ > PREV_TAG.txt
        #date cache for untagged projects
      - run: date +'%Y-%m-%d' > DAY.txt

      - restore_cache:
          keys:
            - gem-cache-{{checksum "Gemfile.lock" }}
            - gem-cache1
      - restore_cache:
          keys:
            - asset-cache-{{checksum "LATEST_TAG.txt"}}
            - asset-cache-{{checksum "PREV_TAG.txt"}}
            - asset-cache-{{.Branch}}-{{checksum "DAY.txt"}}
            - asset-cache3

      - run: ./circle-package-application.sh

      - save_cache:
          key: gem-cache-{{checksum "Gemfile.lock" }}
          paths:
            - target
      - save_cache:
          key: gem-cache1
          paths:
            - target

      - save_cache:
          key: asset-cache3
          paths:
            - public/assets
            - tmp/cache/assets/production
      - save_cache:
          key: asset-cache-{{checksum "LATEST_TAG.txt"}}
          paths:
            - public/assets
            - tmp/cache/assets/production
      - save_cache:
          key: asset-cache-{{.Branch}}-{{checksum "DAY.txt"}}
          paths:
            - public/assets
            - tmp/cache/assets/production

      - persist_to_workspace:
          root: /home/circleci
          paths:
            - project/*.zip

      - store_artifacts:
          path: ./airflow-*.zip


  deploy_test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /home/circleci
      - deploy:
          command: scp *.zip circleci@sftp.analytical.info:/servers/circleci/test

  deploy_production:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /home/circleci
      - deploy:
          command: scp *.zip circleci@sftp.analytical.info:/servers/circleci/production

  deploy_vital:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /home/circleci
      - deploy:
          command: scp *.zip circleci@sftp.analytical.info:/servers/circleci/vital

workflows:
  version: 2
  build-n-deploy:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - build:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - deploy_test:
          requires:
            - test
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*rc.{1,3}$/
      - deploy_production:
          requires:
            - test
            - build
          filters:
            branches:
              only: master
            tags:
              #match vX.X.X
              only: /v\d{1,2}\.\d{1,2}\.\d{1,2}$/
      - deploy_vital:
          requires:
            - build
          filters:
            branches:
              only: vital-branding
            tags:
              #match vX.X.X-vitrea
              only: /v\d{1,2}\.\d{1,2}\.\d{1,2}-vitrea$/
