<%= content_for(:javascript_includes, javascript_include_tag("pages/real_time.js")) %>

<div class="page-header">
  <h1>Demo</h1>
  <div class="well"> This demo highlights real-time updates. Click <a href="<%= demo_accession_search_url %>">here</a> to view an accession search demo.</div>
</div>

<p> Number of radiology reports created since the page loaded: <span id="rad-report-count">0</span> </p>
