<% content_for(:javascript_includes, javascript_include_tag("pages/kiosk")) %>
<%= render partial: "main/board_basics" %>

<!-- Major/Page Templates -->
<script class="handlebars-template" id="t-workspace-loading" type="text/x-handlebars-template">
  <%= image_tag("ajax-loader.gif") %>
</script>

<script class="handlebars-template" id="t-kiosk" type="text/x-handlebars-template">


  <div id="board-headings">
    <div id="white-spacer">
    </div>

    <table id="time-headings">
      <tbody>
	<tr class="heading">
	  <td></td>
	  {{#each resources}}
	  {{> resourceHeading}}
	  {{/each}}
	</tr>
      </tbody>
    </table>
  </div>


  <div id="board">

    <table id="vertical-time-headings">
      <tbody>
	<tr>
	  <td>
	    {{#each hours}}
	    {{> hour}}
	    {{/each}}
	  </td>
	</tr>
      </tbody>
    </table>

    <table id="time-grid">
      <tbody>
	<div id="right-now"></div>

	<tr>
	  {{#each resources}}
	  {{> resourceColumn resource=this hours=../hours}}
	  {{/each}}
	</tr>
      </tbody>
    </table>
  </div>

</script>

<!-- Shared Templates -->
<script class="handlebars-template" id="t-resource-heading" type="text/x-handlebars-template">
  <td><h1>{{name}}</h1></td>
</script>

<script class="handlebars-template" id="t-hour" type="text/x-handlebars-template">
  <div class="hour">{{format_hour this}}</div>
</script>

<script class="handlebars-template" id="t-resource-column" type="text/x-handlebars-template">
  <td data-resource-id="{{id}}">
    <div class="markers">
      {{#each hours}}
      <div class="row-marker"></div>
      <div class="row-marker"></div>
      {{/each}}
    </div>
    {{#each (exams_from_resource this)}}
    {{> scaledCard this}}
    {{/each}}
  </td>
</script>

<script class="handlebars-template" id="t-scaled-card" type="text/x-handlebars-template">
  <div class="notecard scaled {{#if this.onhold}}highlight{{/if}}" id="scaled-card-{{this.id}}" style="height: {{exam_height this}}; max-height: {{exam_height this}}; top: {{exam_top this}};">
    <div class="left-tab" style="background-color: {{exam_color this}};">
    </div>

    <div class="right-tab">

      {{kiosk_number_html this}}

    </div>

  <div class="hide data" data-exam-id="{{this.id}}"></div>
  </div>
</script>
