<div id="workspace">


  <div id="relative-board">
    <% @resources.keys.each do |r| %>
    <div class="resource-row">
      <h1><%= r.name.blank? ? r.resource : r.name %></h1>
      <% @resources[r].each do |exam| %>
      <%= render partial: "relative/card", locals: {exam: exam} %>
      <% end %>
    </div>
    <% end %>
  </div>

</div>
