/* Printing */
@media print {
    .grid-wrapper, #view-controls {
        display: none;
    }

    .print-view-contents {
        display: block;

    }

    .print-order {
        page-break-inside: avoid;
        page-break-after: avoid;
        break-inside: avoid;
    }
}
