$release-color: #6F256F;
$feature-color: #337ab7;
$bug-color: #d9534f;
$task-color: #2D8633;
$alert-red: #c8040e;
$dark-alert-red: #A40008;
$very-dark-alert-red: #750006;
$alert-text-color: #fff;
$complete-green: #279A2F;

// - Layout
$body-top: 50px;
$border-color: #ddd;

#navbar-img {
  margin-left: 1px;
  padding: 14px 10px;
  img { height: 20px; }
}

.navbar-brand {
  font-family: CentraleSans-Light;
  font-size: 20px;

}

#app-name {
  color: #ffffff;
}

#product-line {
  padding-right: 8px;
  a, a:hover, a:visited { color: #fff; text-decoration: none; }
}

input, textarea {
  border-radius: 0px !important;
}

.input-group-btn .btn, .input-group-addon, .btn.dropdown-toggle, .dropdown-menu{
  border-radius: 0px;
}

.bs-container.bootstrap-select.open, .bootstrap-select.open > .dropdown-menu {
  margin-top: 0px;
}

.dropdown-menu {
  margin-top: 0px;
}

.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.drag-rotate {
  z-index: 102;
  /* Safari */
  -webkit-transform: rotate(-5deg);
  /* Firefox */
  -moz-transform: rotate(-5deg);
  /* IE */
  -ms-transform: rotate(-5deg);
  /* Opera */
  -o-transform: rotate(-5deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

$unit: "px";
$col-width: 250;
$card-width: $col-width*95/100;
$card-left: ($col-width - $card-width) / 2;
$col-unit: $col-width + $unit;
$card-unit: $card-width + $unit;
$card-left-unit: $card-left + $unit;

$border-width: 1;
$border-unit: $border-width + $unit;
$hour: 200; /* This is the big one */
$half: $hour / 2;
$hour-unit: $hour + $unit;
$half-unit: $half + $unit;

$grid-color: #b3b3b3;
$card-color: #fff;

#view-controls {
  height: 49px;
  padding: 8px 10px;
  background-color: #fafafa;
  position: relative;
  line-height: 33px;
  vertical-align: middle;
  border-bottom: unquote($border-unit) solid $grid-color;
}

.vertical-timeline {

  #right-now {
    position: absolute;
    left: 50px;
    height: 2px;
    background-color: $dark-alert-red;
    border-top: 1px solid $alert-red;
    border-bottom: 1px solid $alert-red;
    display: none;
    z-index: 104;
  }

  .hour {
    text-align: right;
    vertical-align: top;
    height: unquote($hour-unit);
    width: 50px;
    border-bottom: unquote($border-unit) solid $grid-color;
    border-right: unquote($border-unit) solid $grid-color;
    padding-right: 5px;
  }

  .hour:last-child {
    border-bottom: unquote($border-unit) solid $grid-color !important;
  }

  #time-grid {
    position: absolute;
    /*left: 50px;*/

    .fixed-column {
      background-color: #FFFFFF;
      z-index: 106;
      width: 50px;

      &.fixed-row {
        > .header-spacer {
          border-right: unquote($border-unit) solid $grid-color;
          border-left: none;
        }
      }
    }

    .fixed-row {
      border-bottom: unquote($border-unit) solid $grid-color !important;
    }

    .relative-column {
      position: relative;
    }

    .header-spacer {
      margin-bottom: 0;
      padding: 0.5em 0 0.5em 0;
      border-bottom: unquote($border-unit) solid $grid-color !important;
    }

    th {
      background-color: #FFFFFF;
      font-size: 20px; font-weight: normal; margin: 5px;
      height: 2em;
      text-align: center;
      z-index: 108;

      &:not(:first-of-type) {
        border-left: unquote($border-unit) solid $grid-color;
      }

      &:last-of-type {
        border-right: unquote($border-unit) solid $grid-color;
      }
    }

    tbody {

      td {
        border-right: unquote($border-unit) solid $grid-color;
        position: relative;
        vertical-align: top;
      }

      .markers {
        left: 50px;
      }

      td .markers .row-marker {
        border-bottom: unquote($border-unit) solid $grid-color;
        height: unquote($half-unit);
        width: unquote($col-unit);
      }

      td .markers .row-marker:nth-child(2n-1) {
        border-bottom: unquote($border-unit) dashed $grid-color !important;
      }
    }
  }

  #board {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: auto;
    /*padding: 5px;*/

  }

  .notecard.scaled {
    position: absolute;
    z-index: 101;
    left: unquote($card-left-unit);
  }
  .notecard.scaled:hover {
    z-index: 102;
  }

}

/***********************************************
Overview
************************************************/

#relative-board {
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: auto;
  /*padding: 5px;*/

}

.resource-row:first-child {
  /*border-top: unquote($border-unit) solid $grid-color;*/
}

.resource-row:nth-child(2n) {
  background-color: #fafafa;
}

.resource-row {
  border-bottom: unquote($border-unit) solid $grid-color;
  position: relative;
  padding: 5px 0 5px 50px;
  height: 140px;
  white-space: nowrap;

  h1 {
    position: absolute;
    left: -48px;
    top: 47px;
    width: 138px;
    z-index: 102;
    padding: 13px 0;
    margin: 0;
    border-bottom: unquote($border-unit) solid $grid-color;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
}

.notecard.overview {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  white-space: normal;
  width: 190px;
  height: 130px;

  .left-tab {
    height: 128px;
  }
}

/***********************************************
Shared Styles
************************************************/
.filtered { opacity: 0.4; }

.notecard {
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #eee;
  background-color: $card-color;
  display: block;
  overflow: hidden;
  width: unquote($card-unit);
  margin-bottom: 5px;
  cursor: pointer;
  /* Disable Text Selection as it interfere's with Dragging */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .left-tab {
    display: block;
    height: 100%;
    width: 12px;
    float: left;
    color: #fff;
    padding: 5px 2px;
    /*display: table-cell;*/
  }

  .left-tab.release {	background-color: $release-color; }
  .left-tab.feature {	background-color: $feature-color; }
  .left-tab.bug {	background-color: $bug-color; }
  .left-tab.task {	background-color: $task-color; }

  .right-tab {
    margin-left: 20px;
    word-break: break-all;
    word-wrap: break-word;
    display: table-cell;
  }

  .events {
    position: absolute;
    right: 5px;
    top: 2px;
  }

  .heading {
    padding: 5px 10px;
    margin: 0;
    font-weight: bold;
    .patient-type {
      display: inline;
      font-weight: bold;
      float: left;
      margin-right: 3px;
    }
    .patient-type:after {
      content: " -";
    }

  }

  .heading .tags .tag {
  }

  .body {
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 5px 10px;
    overflow: hidden;
    .procedure { font-size: 12px; font-style: italic; }
  }

  .footer {
    .right {
      position: absolute;
      bottom: 0px;
      right: 4px;
    }
    .left {
      position: absolute;
      bottom: 0px;
      left: 18px;
    }
    padding: 0px 10px 5px;
    text-align: right;
    color: #757575;
    .status-indicator {
      color: #53a790;
      background-color: #fff;
      display: inline;
    }
  }


  .estimate {
    float: right;
    font-size: 16px;
  }

  .type {
    text-align: center;
  }

  .kiosk-number {
    font-size: 36px;
    margin-left: 5px;
  }
  .kiosk-number.bottom {
    position: absolute;
    line-height: initial !important;
    bottom: 0px;
  }

  img.avatar { width: 18px; height: 18px; }
}

.notecard.highlight {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 25px rgba(245, 245, 43, 0.8);
  background-color: #f5f52b !important;
  .left-pane { background-color: #f5f52b !important; }
  .status-indicator { background-color: #f5f52b !important; }
}

.notecard.completed {
  background-color: #ddd !important;
  .footer .status-indicator {
    background-color: #ddd !important;
  }
}

.notecard.bad-duration {
  border-color: $alert-red;
  border-style: dashed;
}

.left-tab i.late {
  color: $alert-red;
}
.left-tab i.complete {
  color: $complete-green;
}

.paperwork {
  margin-left: 2.5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  margin-bottom: 5px;
  margin-left: 5px;
}
.dot-green {
  background-color: $complete-green;
}
.dot-red {
  background-color: $alert-red;
}

/* Modal Card */
.modal-wide {
  width: 95%;
}

#order-modal {
  .modal-header {
    border-bottom: 0;
  }
  .nav {
    padding-left: 14px;
  }
  h5.no-margin { margin-top: 0; margin-bottom: 0; }

  overflow-x: hidden;
  overflow-y: auto;
}

#order-modal .modal-content {
  padding-left: 14px;
  border-radius: 0;
  .left-stripe {
    background-color: #aaa;
    position: absolute;
    left: 0;
    top: 0;
    width: 13px;
    bottom: 0;
  }
}

.status-toggles {
  display: flex;
  float: right;
  margin-right: 1em;

  .status-toggle {
    display: inline;
    margin-right: 1em;
    i { margin-right: 5px; }
  }

  .status-toggle.complete { color: #ccc; }
  .status-toggle.incomplete { color: #ccc; }
}

.wrapped-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  > span {
    margin-right: 0.25em;
  }
}

.ui-droppable-hover {
  background-color: #eee;
}

.ui-draggable-dragging {
}

/* Notifications */

#notifications {
  position: fixed;
  bottom: 10px;
  right: 25px;
  z-index: 110;

  .notification {
    border: 1px solid #b3b3b3;
    /*box-shadow: 5px 5px 5px #eee;*/
    background-color: #fff;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-left: 4px solid #000;
    width: 300px;

    strong:first-child {
      text-transform: capitalize;
    }
  }

  .notification.info { border-left-color: $dark-sblue; }
  .notification.alert { border-left-color: $dark-alert-red; }
  .notification.event {
    border-left-color: $dark-sblue;
    position: relative;
    min-height: 40px;
    line-height: 40px;
    width: 650px !important;
    .event { margin: 0 !important; }
  }
}

.divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.divider > span {
  position: relative;
  display: inline-block;
  color: $dark-gray;
  font-style: italic;
}

.divider > span:before,
.divider > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9000px;
  height: 1px;
  background: $dark-gray;
}

.divider > span:before {
  right: 100%;
  margin-right: 5px;
}

.divider > span:after {
  left: 100%;
  margin-left: 5px;
}

/*admin roles config page styling*/
table.roles{
  th, td {
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
  }
  td {
    height: 1px;
  }
}

.connected-sortable {
  padding: 5px;
  height: 100%;
  border: 1px solid #525252;
  border-radius: 10px;
  min-height: 100px;
  list-style-type: none;

  li {
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    margin: 5px;
    float:left;
    background-color: $dark-gray;
  }
}

.connected-sortable.all-access li { background-color: $light-sblue; }
.connected-sortable.self-access li { background-color: $dark-orange; }

.update-access {
  float: right;
}

.success { color: green; }
.error { color: $alert-red; }


.config{
  label { display: block; }
  .left { width: 65%; }
}
/*end admin role page styling*/

/* Resource Group Management */
.resource-group.selected {
  border-left: 4px solid $neutral-sblue;
  padding-left: 7px;
}
.resource-group {
  position: relative;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #e9e9e9;
  margin-bottom: 3px;
  cursor: pointer;

  .trash {
    cursor: pointer;
    margin-right: 8px;
  }
  .chev-right {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

#resource-table tbody {
  tr:hover { background-color: #e0e0e0; }
  tr:hover td i.fa-plus-circle { display: initial; }
  tr {
    cursor: pointer;
    td {
      i.fa-minus-circle {
        display: none;
      }
      i.fa-plus-circle {
        display: none;
        margin-left: -25px;
        margin-right: 13px;
      }
    }
  }
  tr.selected {
    td {
      i.fa-plus-circle {
        display: none;
      }
      i.fa-minus-circle {
        display: initial;
        margin-left: -25px;
        margin-right: 13px;
      }
    }
  }
}

#legend {
  .status {
    padding: 10px;
    .color {
      display: block;
      width: 20px;
      height: 20px;
      float: left;
      margin-right: 10px;

      &.icon {
        color: #53a790;
      }
    }
    .name {
      line-height: 20px;
      vertical-align: middle;
      display: inline-block;
    }
    .anesthesia {
      font-style: normal;
      font-weight: bold;
      line-height: 23px;
    }
  }
}

.grid-wrapper {
  height: 100%;
  width: 100%;
}
