$text: #000;
/*$light-orange: #db6924;
$dark-orange: #b76327;*/
$light-border: #ccc;
$blockquote: #f5ffc4;

/* Color palette */
$very-light-gray: #f9f9f9;
$light-gray: #e8e8e8;
$neutral-gray: #ccc;
$dark-gray: #888;
$very-dark-gray: #666;

$neutral-orange: #f8991d;
$dark-orange: #cc7504;
$very-dark-orange: #a15b00;
$light-orange: #ffb04a;
$very-light-orange: #ffc273;

$neutral-yellow: #f8c01d;
$light-yellow: #ffd14a;
$very-light-yellow: #ffdb73;
$dark-yellow: #cc9904;
$very-dark-yellow: #a17800;

$neutral-blue: #2b2ead;
$light-blue: #484ab6;
$very-light-blue: #6b6dca;
$dark-blue: #171a8e;
$very-dark-blue: #0e1170;

$neutral-sblue: #1b699f;
$very-light-sblue: #5d97c0;
$light-sblue: #387aa9;
$dark-sblue: #0b5183;
$very-dark-sblue: #063f67;

$alert-red: #c8040e;
$dark-alert-red: #A40008;
$very-dark-alert-red: #750006;
$alert-text-color: #fff;


/* Philips color palette */
$philips-wordmark-blue: #0b5ed7;
$philips-group-blue-5: #0b2265;
$philips-group-blue-4: #0039a6;
$philips-group-blue-3: #005a8b;
$philips-group-blue-2: #0089c4;
$philips-group-blue-1: #72b5cc;

$very-dark-blue: #0f204b;
$dark-blue: #003478;
$bright-blue: #0066a1;
$light-blue: #7ba4d9;
$very-light-blue: #b3c8e6;

$very-dark-aqua: #22505f;
$dark-aqua: #156570;
$bright-aqua: #1e9d8b;
$light-aqua: #5bbbb7;
$very-light-aqua: #cae3e9;

$very-dark-green: #024731;
$dark-green: #00693c;
$bright-green: #5b8f22;
$light-green: #b6bf00;
$very-light-green: #e0e96e;

$very-dark-orange: #772432;
$dark-orange: #983222;
$bright-orange: #e98300;
$light-orange: #eeaf00;
$very-light-orange: #fbd476;

$very-dark-pink: #662046;
$dark-pink: #91004b;
$bright-pink: #ec4371;
$light-pink: #e59aaa;
$very-light-pink: #e9c5cb;

$very-dark-purple: #42145f;
$dark-purple: #631d76;
$bright-purple: #7d0063;
$light-purple: #b390bb;
$very-light-purple: #dbcfe9;

$black: #000000;
$enricher-1: #252525;
$enricher-2: #5d5d5d;
$enricher-3: #888888;
$enricher-4: #b9b9b9;
$enricher-5: #cccccc;
$enricher-6: #e0e0e0;
$enricher-7: #efefef;
$white: #ffffff;
$red: #cd202c;

$gray30: #4d4d4d;
$gray80: #cccccc;
