@import "colors";

//Brand colors
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         $dark-blue;//darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         $bright-green;
$brand-info:            $bright-blue;
$brand-warning:         $light-orange;
$brand-danger:          $dark-orange;
$navbar-height: 50px;

//## Define colors for form feedback states and, by default, alerts.

$state-success-text: $enricher-1;
$state-success-bg: lighten($bright-green,55%);
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text: $enricher-1;
$state-info-bg: lighten($very-light-blue,15%);
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text: $enricher-1;
$state-warning-bg: $brand-warning;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text: $enricher-1;
$state-danger-bg: lighten($brand-danger,55%);
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 5%);
