@font-face { font-family: Centrale-Sans;
	     font-weight: 300;
	     src: font-url('CENTRALESANS-LIGHT.OTF') format('opentype'), font-url('CENTRALESANS-LIGHT.eot') format('embedded-opentype'); }
@font-face { font-family: CentraleSans-Book;
	     font-weight: 400;
	     src: font-url('CENTRALESANS-BOOK.OTF') format('opentype'), font-url('CENTRALESANS-BOOK.eot') format('embedded-opentype'); }
@font-face { font-family: Centrale-Sans;
	     font-weight: 500;
	     src: font-url('CENTRALESANS-MEDIUM.OTF') format('opentype'), font-url('CENTRALESANS-MEDIUM.eot') format('embedded-opentype'); }
@font-face { font-family: CentraleSans-Bold;
	     font-weight: 600;
	     src: font-url('CENTRALESANS-BOLD.OTF') format('opentype'), font-url('CENTRALESANS-BOLD.eot') format('embedded-opentype'); }
@font-face { font-family: Centrale-Sans;
	     font-weight: 700;
	     src: font-url('CENTRALESANS-XBOLD_0.OTF') format('opentype'), font-url('CENTRALESANS-XBOLD_0.eot') format('embedded-opentype'); }

@font-face { font-family: CentraleSans-Medium;
	     src: font-url('CENTRALESANS-MEDIUM.OTF') format('opentype'), font-url('CENTRALESANS-MEDIUM.eot') format('embedded-opentype');
	     font-style:normal;
	     font-weight:400}

@font-face { font-family: CentraleSans-Light;
	     src: font-url('CENTRALESANS-LIGHT.OTF') format('opentype'), font-url('CENTRALESANS-LIGHT.eot') format('embedded-opentype');
	     font-style:normal;
	     font-weight:400}

@import "colors";
@import "philips-general";

//Navbar adjustments
$navbar-default-bg: $very-dark-blue;
$navbar-default-color: #111;

// Navbar links
$navbar-default-link-color: #ddd;
$navbar-default-link-hover-color: #efefef;
$navbar-default-link-active-color: #efefef;

// Navbar brand label
$navbar-default-brand-color: #fff;
