/*
 *= require bootstrap_and_overrides
 *= reflect_actions
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

$release-color: #6F256F;
$feature-color: #337ab7;
$bug-color: #d9534f;
$task-color: #2D8633;
$alert-red: #c8040e;
$dark-alert-red: #A40008;
$very-dark-alert-red: #750006;
$alert-text-color: #fff;
$complete-green: #279A2F;

#primary-navbar { margin-bottom: 0px; }

#navbar-img {
  margin-left: 1px;
  line-height: 24px;
  padding: 18px 10px;

  img {
    height: 24px;
  }
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  background-color: transparent;
  color: rgb(248, 169, 68);
  text-decoration: none;
}

#app-name { margin-left: -15px; font-size: 20px;  font-weight: 200;}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.drag-rotate {
    z-index: 102;
    /* Safari */
    -webkit-transform: rotate(-5deg);
    /* Firefox */
    -moz-transform: rotate(-5deg);
    /* IE */
    -ms-transform: rotate(-5deg);
    /* Opera */
    -o-transform: rotate(-5deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

$unit: "px";
$col-width: 250;
$card-width: $col-width*95/100;
$card-left: ($col-width - $card-width) / 2;
$col-unit: $col-width + $unit;
$card-unit: $card-width + $unit;
$card-left-unit: $card-left + $unit;

$border-width: 1;
$border-unit: $border-width + $unit;
$hour: 200; /* This is the big one */
$half: $hour / 2;
$hour-unit: $hour + $unit;
$half-unit: $half + $unit;

$grid-color: #b3b3b3;
$card-color: #fff;

.vertical-timeline {

    #right-now {
	position: absolute;
	left: 51px;
	height: 2px;
	background-color: $dark-alert-red;
	border-top: 1px solid $alert-red;
	border-bottom: 1px solid $alert-red;
	display: none;
    }

    #time-grid {
	tbody {

	    td {
		position: relative;
		vertical-align: top;
		border-right: unquote($border-unit) solid $grid-color;
	    }
	    td:first-child {
		border-left: unquote($border-unit) solid $grid-color;
	    }

	    td .hour {
		text-align: right;
		vertical-align: top;
		height: unquote($hour-unit);
		width: 50px;
		border-bottom: unquote($border-unit) solid $grid-color;
		padding-right: 5px;
	    }
	    td .hour:last-child {
		border-bottom: unquote($border-unit) solid $grid-color !important;
	    }

	    td .markers .row-marker {
		width: unquote($col-unit);
		height: unquote($half-unit);
		border-bottom: unquote($border-unit) solid $grid-color;
	    }
	    td .hour:first-child, td .markers .row-marker:first-child {
		/*border-top: unquote($border-unit) solid $grid-color !important;*/
	    }
	    td .markers .row-marker:nth-child(2n-1) {
		border-bottom: unquote($border-unit) dashed $grid-color !important;
	    }

	}
    }

    #time-headings {
	position: fixed;
	left: 301px;
	z-index: 104;

	tr.heading td {
	    text-align: center;
	    border-right: unquote($border-unit) solid $grid-color;
	    border-bottom: unquote($border-unit) solid $grid-color;
	    border-top: 0;

	    h1 {
		font-size: 20px; font-weight: normal; margin: 5px;
		width: 240px;
	    }
	}
    }


    #board-headings {
	position: fixed;
	top: 61px;
	z-index: 105;
	/*background-color: #fff;*/
	border-bottom: 1px solid #eee;


	h1.queue {
	    /*border-top: unquote($border-unit) solid $grid-color;
	border-bottom: unquote($border-unit) solid $grid-color;*/
	    position: absolute;
	    border-bottom: unquote($border-unit) solid $grid-color !important;
	    border-right: unquote($border-unit) solid $grid-color !important;
	    text-align: center;
	    font-size: 20px; font-weight: normal;
	    width: 251px;/*unquote($col-unit);*/
	    padding: 4px 5px;
	    margin: 0;
	    background-color: #fff;
	    z-index: 106;
	}

    }

    #queue {
	position: absolute;
	left: 0px;
	width: unquote($col-width + $unit);
	top: 91px;
	bottom: 0;
	overflow-y: auto;
	padding-top: 10px;
	z-index: 104;
    }

    #board {
	position: absolute;
	left: 250px;
	right: 0;
	top: 91px;
	bottom: 0;
	overflow-y: auto;
	overflow-x: auto;
	/*padding: 5px;*/

    }

    .notecard.scaled {
	position: absolute;
	z-index: 101;
	left: unquote($card-left-unit);
	/*top: 100px;*/
    }

}

/***********************************************
Shared Styles
************************************************/

.notecard.relative {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    white-space: normal;
}

.notecard {
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #eee;
    background-color: $card-color;
    display: table;
    width: unquote($card-unit);
    margin-bottom: 5px;
    cursor: pointer;

    .left-tab {
	width: 20px;
	color: #fff;
	padding: 5px 2px;
	display: table-cell;
    }
    .horizontal {
	position: relative;
	height: 100%;
	.left-tab {
	    height: 198px;
	}
    }
    .left-tab.release {	background-color: $release-color; }
    .left-tab.feature {	background-color: $feature-color; }
    .left-tab.bug {	background-color: $bug-color; }
    .left-tab.task {	background-color: $task-color; }

    .right-tab {
	margin-left: 20px;
	display: table-cell;
    }

    .heading {
	padding: 5px 10px;
	margin: 0;
	font-weight: bold;
    }

    .heading .tags .tag {
    }

    .body {
	margin-top: 0px;
	margin-bottom: 15px;
	padding: 5px 10px;
	overflow: hidden;
	.procedure { font-size: 12px; font-style: italic; }
    }

    .footer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 0px 10px 5px;
	text-align: right;
	color: #757575;
    }


    .estimate {
	float: right;
	font-size: 16px;
	/*background-color: #ccc;
	border-radius: 50px;
	padding: 5px 8px;*/
    }

    .type {
	text-align: center;
    }

    img.avatar { width: 18px; height: 18px; }
}

.left-tab i.late {
    color: $alert-red;
}
.left-tab i.complete {
    color: $complete-green;
}

.paperwork {
    margin-left: 2.5px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 5px;
    margin-left: 5px;
}
.dot-green {
    background-color: $complete-green;
}
.dot-red {
    background-color: $alert-red;
}


/*********************************************
Relative Board Styles
**********************************************/
#relative-board {
    position: absolute;
    left: 0;
    right: 0;
    top: 61px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: auto;
    /*padding: 5px;*/
}

#board .resource-row:first-child {
    /*border-top: unquote($border-unit) solid $grid-color;*/
}
.resource-row:nth-child(2n) {
    background-color: #eee;
}
.resource-row {
    border-bottom: unquote($border-unit) solid $grid-color;
    position: relative;
    padding: 5px 0 5px 50px;
    height: 210px;
    white-space: nowrap;
    h1 {
	font-size: 22px;
	font-weight: normal;
	position: absolute;
	left: -77px;
	top: 68px;
	z-index: 102;
	text-align: center;
	width: 210px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}



/****************************************************/
/* Horizontal
/****************************************************/

.horizontal-timeline {

    #right-now {
	position: absolute;
	top: 32px;
	bottom: 1px;
	width: 2px;
	background-color: $dark-alert-red;
	border-left: 1px solid $alert-red;
	border-right: 1px solid $alert-red;
	/*display: none;*/
    }

    #board {
	position: absolute;
	left: 0px;
	right: 0;
	top: 281px;
	bottom: 0;
	overflow-y: auto;
	overflow-x: auto;
    /*padding: 5px;*/
    }

    #time-grid {
	tbody {
	    td.heading {
		height: 220px;
	    }

	    h1 {
		font-size: 20px;
		font-weight: normal;
		margin: 0 -30px;
		padding: 0;
	    }

	    td.grid {
		min-width: 4801px;
	    }

	    td {
		position: relative;
		vertical-align: middle;
		border: unquote($border-unit) solid $grid-color;
	    }
/*	    td:first-child {
		border-left: unquote($border-unit) solid $grid-color;
	    }
*/
	    td .hour {
		float: left;
		text-align: left;
		vertical-align: middle;
		width: unquote($hour-unit);
		height: 30px;
		line-height: 30px;
		border-right: unquote($border-unit) solid $grid-color;
		padding-left: 5px;
	    }
/*	    td .hour:last-child {
		border-bottom: unquote($border-unit) solid $grid-color !important;
	    }
*/
	    td .markers .col-marker {
		float: left;
		height: 220px;
		width: unquote($half-unit);
		border-right: unquote($border-unit) solid $grid-color;
	    }
	    td .hour:first-child, td .markers .row-marker:first-child {
	    /*border-top: unquote($border-unit) solid $grid-color !important;*/
	    }
	    td .markers .col-marker:nth-child(2n-1) {
		border-right: unquote($border-unit) dashed $grid-color !important;
	    }

	}

	.notecard {
	    position: absolute;
	    top: 10px;
	}

    }

    #queue {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 61px;
	height: 220px;
	overflow-x: auto;
	padding-left: 50px;
	z-index: 104;

	h1 {
	    font-size: 20px;
	    font-weight: normal;
	    margin: 0;
	    padding: 0;
	    position: absolute;
	    left: -89px;
	    top: 89px;
	    border-bottom: unquote($border-unit) solid $grid-color;
	    border-top: unquote($border-unit) solid $grid-color;
	    height: 42px;
	    width: 220px;
	    text-align: center;
	    vertical-align: middle;
	    line-height: 40px;
	}

	.scaled-queue {
	    width: 4801px;
	}
	.notecard {
	    float: left;
	    margin-right: 10px;
	    margin-top: 10px;
	}
    }


}
