/*
 *= require bootstrap_and_overrides
 *= require bootstrap-toggle.min.css
 *= require bootstrap-datetimepicker
 *= require comments
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

$release-color: #6F256F;
$feature-color: #337ab7;
$bug-color: #d9534f;
$task-color: #2D8633;
$alert-red: #c8040e;
$dark-alert-red: #A40008;
$very-dark-alert-red: #750006;
$alert-text-color: #fff;
$complete-green: #279A2F;

/* General Color pallete */
$very-light-gray: #f9f9f9;
$light-gray: #e8e8e8;
$neutral-gray: #ccc;
$dark-gray: #888;
$very-dark-gray: #666;

$neutral-orange: #f8991d;
$dark-orange: #cc7504;
$very-dark-orange: #a15b00;
$light-orange: #ffb04a;
$very-light-orange: #ffc273;

$neutral-yellow: #f8c01d;
$light-yellow: #ffd14a;
$very-light-yellow: #ffdb73;
$dark-yellow: #cc9904;
$very-dark-yellow: #a17800;

$neutral-blue: #2b2ead;
$light-blue: #484ab6;
$very-light-blue: #6b6dca;
$dark-blue: #171a8e;
$very-dark-blue: #0e1170;

$neutral-sblue: #1b699f;
$very-light-sblue: #5d97c0;
$light-sblue: #387aa9;
$dark-sblue: #0b5183;
$very-dark-sblue: #063f67;

$alert-red: #c8040e;
$dark-alert-red: #A40008;
$very-dark-alert-red: #750006;
$alert-text-color: #fff;


/* General helper styles */
.left { float: left; }
.right { float: right; }
.center { text-align: center; }
.no-border { border: none !important; }
.pointer { cursor: pointer; }

.margin-top { margin-top: 20px; }
.margin-top-sm { margin-top: 10px; }
.margin-top-xs { margin-top: 5px; }
.margin-top-xxs { margin-top: 2px; }

.margin-bottom { margin-bottom: 20px; }
.margin-bottom-sm { margin-bottom: 10px; }
.margin-bottom-xs { margin-bottom: 5px; }
.margin-bottom-xxs { margin-bottom: 2px; }
.no-margin-bottom { margin-bottom: 0px; }

.margin-left { margin-left: 20px; }
.margin-left-sm { margin-left: 10px; }
.margin-left-xs { margin-left: 5px; }
.margin-left-xxs { margin-left: 2px; }

.margin-right { margin-right: 20px; }
.margin-right-sm { margin-right: 10px; }
.margin-right-xs { margin-right: 5px; }
.margin-right-xxs { margin-right: 2px; }


#primary-navbar { margin-bottom: 0px; }

#navbar-img {
  margin-left: 1px;
  line-height: 24px;
  padding: 18px 10px;

  img {
    height: 24px;
  }
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  background-color: transparent;
  color: rgb(248, 169, 68);
  text-decoration: none;
}

#app-name { margin-left: -15px; font-size: 20px;  font-weight: 200;}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.drag-rotate {
    z-index: 102;
    /* Safari */
    -webkit-transform: rotate(-5deg);
    /* Firefox */
    -moz-transform: rotate(-5deg);
    /* IE */
    -ms-transform: rotate(-5deg);
    /* Opera */
    -o-transform: rotate(-5deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

$unit: "px";
$col-width: 250;
$card-width: $col-width*95/100;
$card-left: ($col-width - $card-width) / 2;
$col-unit: $col-width + $unit;
$card-unit: $card-width + $unit;
$card-left-unit: $card-left + $unit;

$border-width: 1;
$border-unit: $border-width + $unit;
$hour: 200; /* This is the big one */
$half: $hour / 2;
$hour-unit: $hour + $unit;
$half-unit: $half + $unit;

$grid-color: #b3b3b3;
$card-color: #fff;

#view-controls {
    height: 49px;
    padding: 8px 10px;
    background-color: #fafafa;
    position: relative;
    line-height: 33px;
    vertical-align: middle;
    border-bottom: unquote($border-unit) solid $grid-color;
}

.vertical-timeline {

    #right-now {
	position: absolute;
	left: 50px;
	height: 2px;
	background-color: $dark-alert-red;
	border-top: 1px solid $alert-red;
	border-bottom: 1px solid $alert-red;
	display: none;
	z-index: 104;
    }

    #white-spacer {
	position: fixed;
	left: 0px;
	top: 111px;
	width: 51px;
	border-bottom: unquote($border-unit) solid $grid-color;
	border-right: unquote($border-unit) solid $grid-color;
	height: 33px;
	background-color: #fff;
	z-index: 106;
    }

    #vertical-time-headings {
	position: absolute;
	left: 0;
	background-color: #fff;
	z-index: 106;
	border-right: unquote($border-unit) solid $grid-color;
    }


    .hour {
	text-align: right;
	vertical-align: top;
	height: unquote($hour-unit);
	width: 50px;
	border-bottom: unquote($border-unit) solid $grid-color;
	padding-right: 5px;
    }

    .hour:last-child {
	border-bottom: unquote($border-unit) solid $grid-color !important;
    }

    #time-grid {
	position: absolute;
	left: 50px;

	tbody {

	    td {
		position: relative;
		vertical-align: top;
		border-right: unquote($border-unit) solid $grid-color;
	    }
	    td:first-child {
		border-left: unquote($border-unit) solid $grid-color;
	    }


	    td .markers .row-marker {
		width: unquote($col-unit);
		height: unquote($half-unit);
		border-bottom: unquote($border-unit) solid $grid-color;
	    }
	    td .hour:first-child, td .markers .row-marker:first-child {
		/*border-top: unquote($border-unit) solid $grid-color !important;*/
	    }
	    td .markers .row-marker:nth-child(2n-1) {
		border-bottom: unquote($border-unit) dashed $grid-color !important;
	    }

	}
    }

    #time-headings {
	position: absolute;
	left: 50px;
	z-index: 104;

	tr.heading td {
	    text-align: center;
	    border-right: unquote($border-unit) solid $grid-color;
	    border-bottom: unquote($border-unit) solid $grid-color;

	    h1 {
		font-size: 20px; font-weight: normal; margin: 5px;
		width: 240px;
	    }
	}
    }


    #board-headings {
	position: fixed;
	left: 0;
	top: 111px;
	z-index: 105;
	/*background-color: #fff;*/
	border-bottom: 1px solid #eee;


    }

    #board {
	position: absolute;
	left: 0;
	right: 0;
	top: 145px;
	bottom: 0;
	overflow-y: auto;
	overflow-x: auto;
	/*padding: 5px;*/

    }

    .notecard.scaled {
	position: absolute;
	z-index: 101;
	left: unquote($card-left-unit);
	/*top: 100px;*/
    }
    .notecard.scaled:hover {
	z-index: 102;
    }

}

/***********************************************
Overview
************************************************/

#relative-board {
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: auto;
    /*padding: 5px;*/

}

.resource-row:first-child {
    /*border-top: unquote($border-unit) solid $grid-color;*/
}

.resource-row:nth-child(2n) {
    background-color: #fafafa;
}

.resource-row {
    border-bottom: unquote($border-unit) solid $grid-color;
    position: relative;
    padding: 5px 0 5px 50px;
    height: 140px;
    white-space: nowrap;

    h1 {
	position: absolute;
	left: -48px;
	top: 47px;
	width: 138px;
	z-index: 102;
	padding: 13px 0;
	margin: 0;
	border-bottom: unquote($border-unit) solid $grid-color;
	background-color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}

.notecard.overview {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    white-space: normal;
    width: 190px;
    height: 130px;

    .left-tab {
	height: 128px;
    }
}

/***********************************************
Shared Styles
************************************************/

.notecard {
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #eee;
    background-color: $card-color;
    display: block;
    overflow: hidden;
    width: unquote($card-unit);
    margin-bottom: 5px;
    cursor: pointer;
    /* Disable Text Selection as it interfere's with Dragging */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .left-tab {
	display: block;
	height: 100%;
	width: 12px;
	float: left;
	color: #fff;
	padding: 5px 2px;
	/*display: table-cell;*/
    }

    .left-tab.release {	background-color: $release-color; }
    .left-tab.feature {	background-color: $feature-color; }
    .left-tab.bug {	background-color: $bug-color; }
    .left-tab.task {	background-color: $task-color; }

    .right-tab {
	margin-left: 20px;
	word-break: break-all;
	word-wrap: break-word;
	display: table-cell;
    }

    .events {
	position: absolute;
	right: 5px;
	top: 2px;
    }

    .heading {
	padding: 5px 10px;
	margin: 0;
	font-weight: bold;
	.patient-type {
	    display: inline;
	    font-weight: bold;
	    float: left;
	    margin-right: 3px;
	}
	.patient-type:after {
	    content: " -";
	}

    }

    .heading .tags .tag {
    }

    .body {
	margin-top: 0px;
	margin-bottom: 15px;
	padding: 5px 10px;
	overflow: hidden;
	.procedure { font-size: 12px; font-style: italic; }
    }

    .footer {
	.right {
	    position: absolute;
	    bottom: 0px;
	    right: 4px;
	}
	.left {
	    position: absolute;
	    bottom: 0px;
	    left: 18px;
	}
	padding: 0px 10px 5px;
	text-align: right;
	color: #757575;
	.status-indicator {
	    color: #53a790;
	    background-color: #fff;
	    display: inline;
	}
    }


    .estimate {
	float: right;
	font-size: 16px;
	/*background-color: #ccc;
	border-radius: 50px;
	padding: 5px 8px;*/
    }

    .type {
	text-align: center;
    }

    .kiosk-number {
	font-size: 36px;
	margin-left: 5px;
    }
    .kiosk-number.bottom {
	position: absolute;
	line-height: initial !important;
	bottom: 0px;
    }

    img.avatar { width: 18px; height: 18px; }
}

.notecard.highlight {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 25px rgba(245, 245, 43, 0.8);
    background-color: #f5f52b !important;
    .left-pane { background-color: #f5f52b !important; }
    .status-indicator { background-color: #f5f52b !important; }
}

.notecard.completed {
    background-color: #ddd !important;
}

.left-tab i.late {
    color: $alert-red;
}
.left-tab i.complete {
    color: $complete-green;
}

.paperwork {
    margin-left: 2.5px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 5px;
    margin-left: 5px;
}
.dot-green {
    background-color: $complete-green;
}
.dot-red {
    background-color: $alert-red;
}

/* Modal Card */
.modal-wide {
    width: 95%;
}

#order-modal {
    .modal-header {
	border-bottom: 0;
    }
    .nav {
	padding-left: 14px;
    }
    h5 { margin-top: 0; margin-bottom: 0; }
}

#order-modal .modal-content {
    padding-left: 14px;
    border-radius: 0;
    .left-stripe {
	background-color: #aaa;
	position: absolute;
	left: 0;
	top: 0;
	width: 13px;
	bottom: 0;
    }
}

.status-toggles {
    float: right;
    margin-right: 10px;

    .status-toggle {
	display: inline;
	i { margin-right: 5px; }
    }

    .status-toggle.complete { color: #ccc; }
    .status-toggle.incomplete { color: #ccc; }
}

.ui-droppable-hover {
    background-color: #eee;
}

.ui-draggable-dragging {
}

/* Notifications */

#notifications {
    position: fixed;
    bottom: 10px;
    right: 25px;
    z-index: 110;

    .notification {
	border: 1px solid #b3b3b3;
	/*box-shadow: 5px 5px 5px #eee;*/
	background-color: #fff;
	margin-bottom: 20px;
	padding: 5px 10px;
	border-left: 4px solid #000;
	width: 300px;

	strong:first-child {
	    text-transform: capitalize;
	}
    }

    .notification.info { border-left-color: $dark-sblue; }
    .notification.alert { border-left-color: $dark-alert-red; }
    .notification.event {
	border-left-color: $dark-sblue;
	position: relative;
	min-height: 40px;
	line-height: 40px;
	width: 650px !important;
	.event { margin: 0 !important; }
    }
}

.divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.divider > span {
  position: relative;
  display: inline-block;
  color: $dark-gray;
  font-style: italic;
}

.divider > span:before,
.divider > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9000px;
  height: 1px;
  background: $dark-gray;
}

.divider > span:before {
  right: 100%;
  margin-right: 5px;
}

.divider > span:after {
  left: 100%;
  margin-left: 5px;
}

/*admin roles config page styling*/
table.roles{
  th, td {
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
  }
  td {
    height: 1px;
  }
}

.connected-sortable {
  padding: 5px;
  height: 100%;
  border: 1px solid #525252;
  border-radius: 10px;
  min-height: 100px;
  list-style-type: none;

  li {
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    margin: 5px;
    float:left;
    background-color: $dark-gray;
  }
}

.connected-sortable.all-access li { background-color: $light-sblue; }
.connected-sortable.self-access li { background-color: $dark-orange; }

.update-access {
  float: right;
}

.success { color: green; }
.error { color: $alert-red; }


.config{
  label { display: block; }
  .left { width: 65%; }
}
/*end admin role page styling*/

/* Resource Group Management */
.resource-group.selected {
    border-left: 4px solid $neutral-sblue;
    padding-left: 7px;
}
.resource-group {
    position: relative;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #e9e9e9;
    margin-bottom: 3px;
    cursor: pointer;

    .trash {
	cursor: pointer;
	margin-right: 8px;
    }
    .chev-right {
	position: absolute;
	right: 10px;
	top: 10px;
    }
}

#resource-table tbody {
    tr:hover { background-color: #e0e0e0; }
    tr:hover td i.fa-plus-circle { display: initial; }
    tr {
	cursor: pointer;
	td {
	    i.fa-minus-circle {
		display: none;
	    }
	    i.fa-plus-circle {
		display: none;
		margin-left: -25px;
		margin-right: 13px;
	    }
	}
    }
    tr.selected {
	td {
	    i.fa-plus-circle {
		display: none;
	    }
	    i.fa-minus-circle {
		display: initial;
		margin-left: -25px;
		margin-right: 13px;
	    }
	}
    }
}

#legend {
  .status {
    padding: 10px;
    .color {
      display: block;
      width: 20px;
      height: 20px;
      float: left;
      margin-right: 10px;
    }
    .name {
      line-height: 20px;
      vertical-align: middle;
      display: inline-block;
    }
    .anesthesia {
	font-style: normal;
	font-weight: bold;
	line-height: 23px;
    }
  }
}
