/*
 *= require bootstrap_and_overrides
 *= reflect_actions
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

$release-color: #6F256F;
$feature-color: #337ab7;
$bug-color: #d9534f;
$task-color: #2D8633;
$alert-red: #c8040e;
$dark-alert-red: #A40008;
$very-dark-alert-red: #750006;
$alert-text-color: #fff;
$complete-green: #279A2F;

#primary-navbar { margin-bottom: 0px; }

#navbar-img {
  margin-left: 1px;
  line-height: 24px;
  padding: 18px 10px;

  img {
    height: 24px;
  }
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  background-color: transparent;
  color: rgb(248, 169, 68);
  text-decoration: none;
}

#app-name { margin-left: -15px; font-size: 20px;  font-weight: 200;}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.drag-rotate {
    z-index: 102;
    /* Safari */
    -webkit-transform: rotate(-5deg);
    /* Firefox */
    -moz-transform: rotate(-5deg);
    /* IE */
    -ms-transform: rotate(-5deg);
    /* Opera */
    -o-transform: rotate(-5deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

$unit: "px";
$col-width: 250;
$card-width: $col-width*95/100;
$card-left: ($col-width - $card-width) / 2;
$col-unit: $col-width + $unit;
$card-unit: $card-width + $unit;
$card-left-unit: $card-left + $unit;

$border-width: 1;
$border-unit: $border-width + $unit;
$hour: 200; /* This is the big one */
$half: $hour / 2;
$hour-unit: $hour + $unit;
$half-unit: $half + $unit;

$grid-color: #b3b3b3;
$card-color: #fff;

.vertical-timeline {

    #right-now {
	position: absolute;
	left: 50px;
	height: 2px;
	background-color: $dark-alert-red;
	border-top: 1px solid $alert-red;
	border-bottom: 1px solid $alert-red;
	display: none;
    }

    #white-spacer {
	position: fixed;
	left: 0px;
	top: 61px;
	width: 51px;
	border-bottom: unquote($border-unit) solid $grid-color;
	border-right: unquote($border-unit) solid $grid-color;
	height: 33px;
	background-color: #fff;
	z-index: 106;
    }

    #vertical-time-headings {
	position: absolute;
	left: 0;
	background-color: #fff;
	z-index: 106;
	border-right: unquote($border-unit) solid $grid-color;
    }


    .hour {
	text-align: right;
	vertical-align: top;
	height: unquote($hour-unit);
	width: 50px;
	border-bottom: unquote($border-unit) solid $grid-color;
	padding-right: 5px;
    }

    .hour:last-child {
	border-bottom: unquote($border-unit) solid $grid-color !important;
    }

    #time-grid {
	position: absolute;
	left: 50px;

	tbody {

	    td {
		position: relative;
		vertical-align: top;
		border-right: unquote($border-unit) solid $grid-color;
	    }
	    td:first-child {
		border-left: unquote($border-unit) solid $grid-color;
	    }


	    td .markers .row-marker {
		width: unquote($col-unit);
		height: unquote($half-unit);
		border-bottom: unquote($border-unit) solid $grid-color;
	    }
	    td .hour:first-child, td .markers .row-marker:first-child {
		/*border-top: unquote($border-unit) solid $grid-color !important;*/
	    }
	    td .markers .row-marker:nth-child(2n-1) {
		border-bottom: unquote($border-unit) dashed $grid-color !important;
	    }

	}
    }

    #time-headings {
	position: absolute;
	left: 0px;
	z-index: 104;

	tr.heading td {
	    text-align: center;
	    border-right: unquote($border-unit) solid $grid-color;
	    border-bottom: unquote($border-unit) solid $grid-color;
	    border-top: 0;

	    h1 {
		font-size: 20px; font-weight: normal; margin: 5px;
		width: 240px;
	    }
	}
    }


    #board-headings {
	position: fixed;
	left: 0;
	top: 61px;
	z-index: 105;
	/*background-color: #fff;*/
	border-bottom: 1px solid #eee;


    }

    #board {
	position: absolute;
	left: 0;
	right: 0;
	top: 94px;
	bottom: 0;
	overflow-y: auto;
	overflow-x: auto;
	/*padding: 5px;*/

    }

    .notecard.scaled {
	position: absolute;
	z-index: 101;
	left: unquote($card-left-unit);
	/*top: 100px;*/
    }

}

/***********************************************
Shared Styles
************************************************/

.notecard.relative {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    white-space: normal;
}

.notecard {
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #eee;
    background-color: $card-color;
    display: table;
    width: unquote($card-unit);
    margin-bottom: 5px;
    cursor: pointer;

    .left-tab {
	width: 8px;
	color: #fff;
	padding: 5px 2px;
	display: table-cell;
    }

    .left-tab.release {	background-color: $release-color; }
    .left-tab.feature {	background-color: $feature-color; }
    .left-tab.bug {	background-color: $bug-color; }
    .left-tab.task {	background-color: $task-color; }

    .right-tab {
	margin-left: 20px;
	display: table-cell;
    }

    .heading {
	padding: 5px 10px;
	margin: 0;
	font-weight: bold;
    }

    .heading .tags .tag {
    }

    .body {
	margin-top: 0px;
	margin-bottom: 15px;
	padding: 5px 10px;
	overflow: hidden;
	.procedure { font-size: 12px; font-style: italic; }
    }

    .footer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 0px 10px 5px;
	text-align: right;
	color: #757575;
	.consent, .paperwork { display: inline; }
    }


    .estimate {
	float: right;
	font-size: 16px;
	/*background-color: #ccc;
	border-radius: 50px;
	padding: 5px 8px;*/
    }

    .type {
	text-align: center;
    }

    img.avatar { width: 18px; height: 18px; }
}

.left-tab i.late {
    color: $alert-red;
}
.left-tab i.complete {
    color: $complete-green;
}

.paperwork {
    margin-left: 2.5px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 5px;
    margin-left: 5px;
}
.dot-green {
    background-color: $complete-green;
}
.dot-red {
    background-color: $alert-red;
}
