/*
 *= require bootstrap-toggle.min.css
 *= require bootstrap-datetimepicker
 *= require react-toggle.scss
 *= require comments
 *= require rounding
 *= require view-controls.scss
 *= require_self
*/

@import "hre-p-blue";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "hre-p-general";
@import "airflow";
@import "airflow-updated";

@import "font-awesome-sprockets";
@import "font-awesome";

/* General helper styles */
.left { float: left; }
.right { float: right; }
.center { text-align: center; }
.no-border { border: none !important; }
.pointer { cursor: pointer; }

.margin-top { margin-top: 20px; }
.margin-top-sm { margin-top: 10px; }
.margin-top-xs { margin-top: 5px; }
.margin-top-xxs { margin-top: 2px; }

.margin-bottom { margin-bottom: 20px; }
.margin-bottom-sm { margin-bottom: 10px; }
.margin-bottom-xs { margin-bottom: 5px; }
.margin-bottom-xxs { margin-bottom: 2px; }
.no-margin-bottom { margin-bottom: 0px; }

.margin-left { margin-left: 20px; }
.margin-left-sm { margin-left: 10px; }
.margin-left-xs { margin-left: 5px; }
.margin-left-xxs { margin-left: 2px; }

.margin-right { margin-right: 20px; }
.margin-right-sm { margin-right: 10px; }
.margin-right-xs { margin-right: 5px; }
.margin-right-xxs { margin-right: 2px; }

.alert-red { color: $alert-red; }

#primary-navbar {
  margin-bottom: 0px;
  background-color: $navbar-default-bg;
}

#app-name { margin-left: -15px; font-size: 20px;  font-weight: 200;}
