@import "hre-p-colors";

.event {
  margin-bottom: 10px;
  position: relative;
  min-height: 40px;

  .avatar {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  .body {
    margin-left: 50px;
  }
}

#notifications .event .body {
  margin-left: 0px;
}

.comment {
  margin-bottom: 10px;
  position: relative;

  .avatar {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  .body {
    margin-left: 50px;

    .heading {
      background-color: #f2f8fa;
      color: #333;
      font-weight: 500;
      padding: 8px 10px;
      border: 1px solid #bfccd1;
      border-bottom: 0;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    .heading:before,
    .panel-heading:before {
      content: " ";
      position: absolute;
      top: 11px;
      left: 35px;
      display: block;
      width: 0;
      height: 0;
      pointer-events: none;
      border-color: transparent;
      border-style: solid solid outset;
      border-width: 8px;
      border-right-color: #f2f8fa;
    }

    .content {
      background-color: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top: 0;
      border: 1px solid #bfccd1;
      padding: 10px;
    }
  }

  .body:before {
    content: " ";
    position: absolute;
    top: 11px;
    left: 34px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    border-color: transparent;
    border-style: solid solid outset;
    border-width: 8px;
    border-right-color: #bfccd1;
  }
}

#notifications .comment {
  .body {
    margin-left: 0px;
  }

  .body:before, .body .heading:before {
    display: none;
  }
}

.comment.initial .body .content .error-code { font-weight: bold; margin-bottom: 8px; }
.comment.initial .body .content p { font-style: italic; }
.comment.initial .body .content p.comment { font-style: normal; }
.comment.initial .body .content p.comment:before { content: '"'; }
.comment.initial .body .content p.comment:after { content: '"'; }

$qc-background: #f2dede;
$qc-border: #ebccd1;
$qc-color: #a94442;

.comment.initial.qc {
  .body .heading { background-color: $qc-background; border-color: $qc-border; }
  .body .heading:before { border-right-color: $qc-background; }
  .body:before { border-right-color: $qc-border; }
  .body .content { border-color: $qc-border; }
}

$request-background: #d9edf7;
$request-border: #bce8f1;
$request-color: #31708f;

.comment.initial.request {
  .body .heading { background-color: $request-background; border-color: $request-border; }
  .body .heading:before { border-right-color: $request-background; }
  .body:before { border-right-color: $request-border; }
  .body .content { border-color: $request-border; }
}

$recognition-background: #dff0d8;
$recognition-border: #d6e9c6;
$recognition-color: #3c763d;

.comment.initial.recognition {
  .body .heading { background-color: $recognition-background; border-color: $recognition-border; }
  .body .heading:before { border-right-color: $recognition-background; }
  .body:before { border-right-color: $recognition-border; }
  .body .content { border-color: $recognition-border; }
}

form .comment .body {
  textarea { height: 100px; }
  .panel-heading:before { border-right-color: #f6f5f6; }
}

.comment-interface {
  border: 1px solid #ddd;
  h1 {
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    font-family: 'Helvetica';
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    i { margin-right: 5px; }
    span.label {
      float: right;
      margin-top: 17px;
    }
  }
  .padded { padding: 10px; }
}

.nav.nav-bottom-margin {
  margin-bottom: 1em;
}
