<div id="notifications">
</div>

<script class="handlebars-template" id="t-notification" type="text/x-handlebars-template">
  <div class="{{notification_type type}}" id="notification-{{id}}">
    {{#if (event_type_check type)}}
      {{render_event event}}
    {{else}}
      <strong>{{type}}</strong> - {{message}}
    {{/if}}
  </div>
</script>

<script class="handlebars-template" id="t-no-resources" type="text/x-handlebars-template">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
	<div class="jumbotron margin-top">
	  <h1>Getting Started</h1>
	  <p>Welcome to Airflow. In order to start using Airflow an administrator will need to create groups of resources that will be tracked.</p>
	</div>
      </div>
    </div>
  </div>
</script>

<script class="handlebars-template" id="t-legend" type="text/x-handlebars-template">
  <div id="legend">
    {{#each ordered_checks}}
    <div class="status">
      <span class="color" style="background-color: {{this.color}}"></span><span class="name">{{this.name}}</span>
    </div>
    {{/each}}
    <div class="status">
      <span class="color" style="color: #53a790;"><i class="fa fa-handshake-o"></i></span><span class="name">Consent</span>
    </div>
    <div class="status">
      <span class="color" style="color: #53a790;"><i class="fa fa-file-text"></i></span><span class="name">Paperwork</span>
    </div>
    <div class="status">
      <span class="color" style="color: #53a790;"><i class="anesthesia">GA</i></span><span class="name">Anesthesia</span>
    </div>
    <div class="status">
      <span class="color"><i class="fa fa-paperclip"></i></span><span class="name">Comment(s)</span>
    </div>
  </div>
</script>

<script class="handlebars-template" id="t-error-loading" type="text/x-handlebars-template">
  <div class="container margin-top">
    <div class="row">
      <div class="col-xs-12">
	<div class="alert alert-danger"><strong>A server side error occured while getting data for the selected resources</strong></div>
      </div>
    </div>
  </div>
</script>
