<div id="notifications">
</div>

<script class="handlebars-template" id="t-notification" type="text/x-handlebars-template">
  <div class="{{notification_type type}}" id="notification-{{id}}">
    {{#if (event_type_check type)}}
      {{render_event event}}
    {{else}}
      <strong>{{type}}</strong> - {{message}}
    {{/if}}
  </div>
</script>

<script class="handlebars-template" id="t-no-resources" type="text/x-handlebars-template">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
	<div class="jumbotron margin-top">
	  <h1>Getting Started</h1>
	  <p>Welcome to Airflow. In order to start using Airflow an administrator will need to create groups of resources that you'll track in airflow.</p>
	</div>
      </div>
    </div>
  </div>
</script>
