<div id="notifications">
</div>

<script class="handlebars-template" id="t-notification" type="text/x-handlebars-template">
  <div class="notification {{type}}" id="notification-{{id}}">
    {{#if (eq type 'event')}}
    {{render_event event}}
    {{else}}
    <strong>{{type}}</strong> - {{message}}
    {{/if}}
  </div>
</script>
